.homepage{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.homepage--header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.homepage--link{
    text-decoration: none;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    display: inline-block;
  
}

.homepage--body {
  
        display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.homepage--body > img {
    object-fit: contain;
    height: 100px;
}

